td{border:1px solid black;}
th{	border:1px solid black;
	background-color:#C0C0C0;
	}

#Clasificacion{
				text-align: center;
				position:relative;
				display: inline-block;
				border-collapse: separate; 
				border-color: #85A3FF;
				border-style: inset;
				margin-left: 5em;
				margin-right: 3em;
			}

#Proximos{
				text-align: center;
				position:relative;
				display: inline-block;
				border-color: #85A3FF;
				border-style: inset;
				margin: 3em;
				margin-left: 3em;
				margin-right: 3em;
			}
			
#Resultados{
				text-align: center;
				position:relative;
				display: inline-block;
				border-color: #85A3FF;
				border-style: inset;
				margin: 3em;
				margin-left: 3em;
				margin-right: 5em;
			}