      #contenido{
		padding:10px;
		min-height:400px;
		width:950px;
		background-color:#ffffff;
		float:left;	
      }		                  
	  
			.texto_centrado{
				font-size: 30px;
				color: black;
				text-align: center;
			}
			
			.texto_tabulado{
				margin-left:80px;
			}
			
			
			.fotoCharla{
					float:right;
					margin:35px 35px 35px 35px;
					text-align:justify;
					background-color:white;
	}
	
				.fotoCharla img{
				border: solid 4px;
				border-color:#5322D8;
				float:center;
				width: 400px;
				margin-right: 30px;
				padding: 0px;
}

	.CharlaDescripcion{
		float:left;
		border: solid 3px;
		padding: 3px;
		border-color:#000000;
		margin:5px 5px 5px 5px;
		width:650px;
		text-align:justify;
		background-color:#ffffff;
		}
		
		.CharlaApun{
		border: solid 3px;
		padding: 3px;
		border-color:#000000;
		margin:auto;
		width:650px;
		text-align:center;
		background-color:#ffffff;
		}
					
					
	.CharlaBotones{
		float:right;
		margin:5px 5px 5px 5px;
		text-align:justify;
		background-color:white;
		width:200px;
	}
	
	.CharlaBotones img{
		border: solid 1px;
		border-color:#ffffff;
		float:center;
		width: 200px;
		margin:30px;		
		padding: 0px;
}


	
}



